body{
    background-color: rgb(51, 255, 238);
    
}
#carrusel{
    overflow:hidden;
    background-color: rgb(76, 204, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 15px 5px 25px #2e31ff;
    min-width: 10%auto;
    max-width: 700px;
}
#imagenes{
    display:grid;
    grid-auto-flow: column;
    grid-auto-columns: 130px;
    animation: animation 12s infinite linear;
}
#imgsub{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid #000000;
}
#aline{
    margin: 30px 30% auto 30%;
}
#tit{
    text-align: center;
    background-color: #0270ffb4;
    border-radius: 10px;
    font-family: sans-serif;
    color: aliceblue;
}
#dbutton, h2{
    text-decoration: none;
    background-color: rgb(0, 52, 150);
    border-radius: 10px;
    display: inline-block;
    color: rgb(255, 255, 255);
}
#dmf{
    width: 100px;
}
#alinedb{
    display: inline-block;
    margin: 50px ;
}
#colum{
    text-align: center;
}
#search-container {
    text-align: center;
    margin-bottom: 10px;
}
#search {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
@keyframes animation {
    to{
        translate: calc(-1.5*520px);
    }
}
